.stats {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statsText {
    margin-bottom: -4px;
}

.editInput {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.editText {
    margin-bottom: 4px;
}